<!doctype html>
<html>
    <head>
        <title>Spooky Chat</title>
        <script src="../scripts/react/dist/react.js"></script>
        <script src="../scripts/react-dom/dist/react-dom.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
        <script type="text/babel" src="../views/chat.js"></script>
    </head>
    <body>
        <div id="msglist"></div>
        <!-- <form action="" name="msginput">
            <input id="msg" autocomplete="off" />
            <button>Send</button>
        </form> -->
    </body>
</html>

